footer {
    // position: fixed;
    // left: 0;
    // bottom: 0;
    width: 100%;
    background-color: $accentColor;
    justify-content: center;
    display: flex;
    margin-top: 10%;

    p {
        font-size: .7rem;
        // margin: 5px auto;
        padding: 5px;
    }
}