header {

    .wrapper {
        display: flex;
    }

    // *Logo
    img {
        max-width: 30vw;
    }

    // *Nav
    nav {
        ul {
            display: flex;
            justify-content: space-evenly;
            // margin-top: 0;
            // margin-left: 1px;
            margin: 0 auto;
            padding: 2%;
            width: 40vw;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

    }
}