header {
	.wrapper {
		display: flex;
	}

	.logo-final {
		width: 500px;
		margin: 30px auto;
		animation: slide-down 2s forwards;
	}

	@keyframes slide-down {
		from {
			opacity: 0;
			transform: translateY(-50px);
		}

		to {
			opacity: 1;
			transform: none;
		}
	}
}

