// !1000px
@media (max-width: 1000px) {

    main .mainContainer {
        width: 90vw;
        margin: 0 auto !important;
    }
}

@media (max-width: 500px) {
    main {
        width: 100vw;
        margin: 0 auto !important;
    }
}