<<<<<<< HEAD
=======
<<<<<<< HEAD
$primaryBGColor: #BADA55;
$primaryHeaderSize: 100px;
=======
>>>>>>> ed2cba8f557592e623c4fc50fee76f056285c5f3
// !COLORS
$primaryBGColor: #393939;
$accentColor: #231f20;



// !TYPEFACES
* {
    color: white;
<<<<<<< HEAD
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

// $primaryHeaderSize: 100px;
=======
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

// $primaryHeaderSize: 100px;
>>>>>>> sarah-branch
>>>>>>> ed2cba8f557592e623c4fc50fee76f056285c5f3
